<%= form_for(@job, :html => {:class => "form-horizontal"}) do |f| %>

  <% customize_error_message(@job)%>

  <%= f.hidden_field :company_id, :value => "#{current_user.company.id}" %>
  <%= f.hidden_field :user_id, :value => "#{current_user.id}" %>
  <div class="control-group input-group <%= "input-group-error" unless  @msg[:job_headline].nil? %> ">

    <%= f.label :job_headline, :class => "control-label" %>
    <div class="controls">

      <%= f.text_field :job_headline, :class => "text" %>
      <%  if not @msg[:job_headline].nil? %>

       <span class="inline-input-error-message">
         <%= @msg[:job_headline].join  %>
       </span>

      <% end %>

    </div>

  </div>
  <div class="control-group input-group <%= "input-group-error" unless  @msg[:job_title].nil? %> ">

    <%= f.label :job_title, :class => "control-label" %>
    <div class="controls">

      <%= f.text_field :job_title, :class => "text", :maxlength => "40" %>
      <%  if not @msg[:job_title].nil? %>

       <span class="inline-input-error-message">
         <%= @msg[:job_title].join  %>
       </span>

      <% end %>

    </div>

  </div>
  <div class="control-group input-group">

    <%= f.label :job_description, :class => "control-label" %>
    <div class="controls">

      <%= f.text_area :job_description, :class => "text", :rows => "5" %>

    </div>

  </div>
  <div class="control-group input-group">

    <%= f.label :job_code, :class => "control-label" %>
    <div class="controls">

      <%= f.text_field :job_code, :class => "text", :maxlength => "40" %>

    </div>

  </div>
  <div class="control-group input-group <%= "input-group-error" unless @msg[:max_exp_req].nil?%> ">

    <%= f.label :min_exp_req, "Experience Required", :class => "control-label" %>
    <div class="controls">

      <div class="select-div">
        <%= f.select(:min_exp_req, JobsHelper::EXP_YEAR_ARRAY, {:prompt => "Min Exp"}, {:class => "select-field text", :id => "job-min-exp-req"}) %> To
      </div>
      <div class="select-div select-div-right">
        <%= f.select(:max_exp_req, JobsHelper::EXP_YEAR_ARRAY, {:prompt => "Max Exp"}, {:class => "select-field text", :id => "job-max-exp-req"}) %>
      </div>

      <%  if not @msg[:max_exp_req].nil? %>

       <span class="inline-input-error-message job-select-error">

         <%= @msg[:max_exp_req].join  %>

       </span>

      <% end %>

    </div>

  </div>
  <div class="control-group input-group <%= "input-group-error" unless  @msg[:exp_in_tech].nil? %> ">

    <%= f.label :exp_in_tech, "Main Area of Expertise", :class => "control-label" %>
    <div class="controls">

      <%= f.text_field :exp_in_tech, :class => "text", :maxlength => "40" %>
      <%  if not @msg[:exp_in_tech].nil? %>

       <span class="inline-input-error-message">
         <%= @msg[:exp_in_tech].join  %>
       </span>

      <% end %>

    </div>

  </div>
  <div class="control-group input-group">

    <%= f.label :job_valid_till, "Job Expiry Date", :class => "control-label" %>

    <div class="controls">

      <%= f.date_select :job_valid_till,{}, :class => "date-select"  %>

    </div>

  </div>
  <div class="control-group input-group">

    <%= f.label :job_location, :class => "control-label" %>
    <div class="controls">

      <%= f.text_field :job_location, :class => "text", :maxlength => "40" %>

    </div>

  </div>
  <div class="actions push-right-actions">

    <%= f.submit %>

  </div>

<% end %>
