<%= form_for(@job, :html => {:class => "form-horizontal"}) do |f| %>

  <% customize_error_message(@job)%>

  <%= f.hidden_field :company_id, :value => "#{current_user.company.id}" %>
  <%= f.hidden_field :user_id, :value => "#{current_user.id}" %>
  <div class="control-group input-group <%= "input-group-error" unless  @msg[:job_title].nil? %> ">

    <%= f.label :job_title, :class => "control-label" %>
    <div class="controls">

      <%= f.text_field :job_title, :class => "text", :maxlength => "40" %>
      <%  if not @msg[:job_title].nil? %>

       <span class="inline-input-error-message">
         <%= @msg[:job_title].join  %>
       </span>

      <% end %>

    </div>

  </div>
  <div class="control-group input-group">

    <%= f.label :job_description, :class => "control-label" %>
    <div class="controls">

      <%= f.text_area :job_description, :class => "text", :rows => "5" %>

    </div>

  </div>
  <div class="control-group input-group">

    <%= f.label :job_code, :class => "control-label" %>
    <div class="controls">

      <%= f.text_field :job_code, :class => "text", :maxlength => "40" %>

    </div>

  </div>
  <div class="control-group input-group">

    <%= f.label :min_exp_req, "Minimum Experience", :class => "control-label" %>
    <div class="controls">

      <%= f.number_field :min_exp_req, :class => "text", :maxlength => "40" %>

    </div>

  </div>
  <div class="control-group input-group">

    <%= f.label :max_exp_req, "Maximum Experience", :class => "control-label" %>
    <div class="controls">

      <%= f.number_field :max_exp_req, :class => "text", :maxlength => "40" %>

    </div>

  </div>
  <div class="control-group input-group">

    <%= f.label :exp_in_tech, "Main Area of Expertise", :class => "control-label" %>
    <div class="controls">

      <%= f.text_field :exp_in_tech, :class => "text", :maxlength => "40" %>

    </div>

  </div>
  <div class="control-group input-group">

    <%= f.label :job_valid_till, "Job Expiry Date", :class => "control-label" %>

    <div class="controls">

      <%= f.date_select :job_valid_till,{}, :class => "date-select"  %>

    </div>

  </div>
  <div class="control-group input-group">

    <%= f.label :job_location, :class => "control-label" %>
    <div class="controls">

      <%= f.text_field :job_location, :class => "text", :maxlength => "40" %>

    </div>

  </div>
  <div class="actions push-right-actions">

    <%= f.submit %>

  </div>

<% end %>
